// old gateway overlay (single uart)
// #include "../boards/Ble_gateway_230426.overlay"
// new gateway overlay (sigle  uart)
// #include "../boards/Ble_gateway_070326_old.overlay"
// new gateway overlay (dual uart)
#include "../boards/Ble_gateway_070326_new.overlay"

&uart20_default {
	group1 {
		psels = <NRF_PSEL(UART_TX, 1, 4)>, <NRF_PSEL(UART_RTS, 1, 11)>;
	};
};

&uart20 {
	status = "okay";
};

&uart20_sleep {
	group1 {
		psels = <NRF_PSEL(UART_TX, 1, 4)>, <NRF_PSEL(UART_RX, 1, 5)>,
			<NRF_PSEL(UART_RTS, 1, 11)>, <NRF_PSEL(UART_CTS, 1, 3)>;
	};
};

&uart20_default {
	group2 {
		psels = <NRF_PSEL(UART_RX, 1, 5)>, <NRF_PSEL(UART_CTS, 1, 3)>;
	};
};
