// /{chosen {
//     zephyr,code-partition = &slot0_partition;
//     zephyr,sram = &cpuapp_sram;
//     zephyr,flash = &cpuapp_rram;
//     zephyr,flash-controller = &rram_controller;
//     zephyr,console = &uart21;
//     zephyr,shell-uart = &uart21;
//     nordic,rpc-uart = &uart21;
//     zephyr,ieee802154 = &ieee802154;
// };};